<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {%block title%}
        {%endblock title%}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <div class="header">
        <nav class="navi">
            <ul class="logo">
                <li><img src="#"></li>
            </ul>
            <ul class="end">
                <li><input type="text" placeholder="search"></li>
                <li>content1</li>
                <li>content2</li>
            </ul>
        </nav>
    </div>
    <div class="wrapper">
        {%block content%}
        {%endblock content%}
    </div>
</body>
</html>