body {
    background-color: skyblue;
}

.header{
    border: aquamarine solid 2px;
}

.end, .logo{
    display:inline-flex;
    list-style:none;
}

.end{
    float:right;
}

.end li{
    margin-left: 30px;
/*     list-style: none; */
}


