<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>polls:details</title>
</head>
<body>
    <div style="background-color: green; color: white;">
        <h1>Hello World</h1>
    </div>
    <br>
    <br>
    <br>
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:details' question.id%}">{{question.question_text}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>
<!--https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p-->
<!--https://www.youtube.com/watch?v=V-GNjychlK0&list=PLEsfXFp6DpzTD1BD1aWNxS2Ep06vIkaeW&index=4-->
<!--https://www.youtube.com/watch?v=xv_bwpA_aEA&list=PL-51WBLyFTg2vW-_6XBoUpE7vpmoR3ztO-->

